{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}Connexion{% endblock %}

{% block content %}

	<div class= "noresultview p-5 text-center">
		<h3><span class=" tagline badge mt-5 ">Entrer vos identifiants !</span></h3>
	</div>

	<div class="container">

        <!-- Display a message in case of successfull registration -->
        {% if messages %}
            {% for message in messages %}
                <div id="alert_message" class="row align-items-center justify-content-center ">
                    <div class="col-5 text-center text-primary bg-success" >
                        {{message}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Login form -->

			<div class="row input-group  align-items-center justify-content-center text-center ">
				{% if not user.is_authenticated %}
					<form class="col-md-4 col-sm-6 mt-5" action="{% url 'users:login' %}" method="post">
				        {% csrf_token %}
				        <fieldset class="form-group">
				            {{login_form|crispy}}
			               	<input class="btn btn-outline-info" type="submit" id="button-addon2" value="Se connecter">
			               	<!-- Go to home after logging in -->
			               	<input name="next" value="{% url 'core:home' %}" type="hidden" >
				        </fieldset>

		    			<div class=" border-top mb-6 mt-2">
				            <small class="text-muted">
				                Besoin d'un compte? <a class="ml-2" href="{% url 'users:signup' %}">Créer votre compte</a>
				            </small>
			        	</div>
				    </form>

	            {% else %}
          			<p class="col-12 mt-5 text-center">Vous êtes déjà connectés!</p>
        		{% endif %}
			</div>

	</div>


{% endblock %}