{% extends 'core/base.html' %}

{% load static %}

{% block title %}Liste des favoris{% endblock %}

{% block content %}


<!-- Head -->
<div class="noresultview container-fluid page-section ">
	<div class="row align-items-center justify-content-center text-center">
		<div class="col-md-7 my-3">
			<h2><span class=" tagline badge">Mes favoris</span></h2>
		</div>
	</div>
</div>


<!-- Products display -->
	{% if not favorites_list %}
			<h3 class="text-center page-section">Votre liste de substituants est vide!</h3>

	{% else %}
		<div class="container-fluid mt-3 mb-5 pb-3">

			<div class="row justify-content-around " >

			  	{% for product in favorites_list %}

			    	<div class="col-md-3 align-items-center m-3 border rounded text-center" >

			    		<p class="dot border border-warning text-uppercase font-weight-bold"> {{product.substitute.nutrition_grade}} </p>

				      	<img class="picture m-1" src={{product.substitute.product_image}} >
				      		
				      		<div class="m-1">
		      					<a  href="{% url 'products:details' pk=product.id %}">{{product.substitute.product_name}}</a>
	      					</div>

	      					<!-- Delete job -->
							<form class="save" action="{% url 'favorites:delete' product.id page_obj.number favorites_list|length %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="product" value="{{product.id}}"/>
                            	<button type="submit" class="btn btn-primary mb-1">Supprimer</button>
							</form>
			    	</div>

			  	{% endfor %}
			</div>
		</div>

<!-- Pagination -->

		<div class=" page container">
  			{% if is_paginated %}
	  			<div class="row mb-5 mt-4 py-5 justify-content-center align-items-center" >
					<div class="col-12 " >
						{% if page_obj.has_previous %}
							<a class="btn-sm btn-outline-info" href="?page=1">First</a>
							<a class="btn-sm btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
						{% endif %}

					  	{% for num in page_obj.paginator.page_range %}
					        {% if page_obj.number == num %}
				     			<a class="btn-sm btn-info" href="?page={{num}}">{{num}}</a>      
					        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}	        	
				         		<a class="btn-sm btn-outline-info" href="?page={{num}}">{{ num }}</a>        		
					        {% endif %}
					  	{% endfor %}

					    {% if page_obj.has_next %}	    	
				    		<a class="btn-sm btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
				        	<a class="btn-sm btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>  
					    {% endif %}
				    </div>
		    	</div>
			{% endif %} 

		</div>

	{% endif %}

{% endblock %}